html{
  scroll-behavior: smooth;
  
}

#name{
  transition-duration: .5s;
}
.list_menu{
  transition-duration: .5s;
}
.footer_links{
  transition-duration: .5s;
}


#photo_personal{
  box-shadow: 0px 0px 35px red;
}

#box_blue{
  box-shadow: 0px 0px 45px #0C08B1;
}

#downloadCv{
  animation: pulse infinite 6s  linear ;
}
@keyframes pulse {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.img_Proyects{
  animation: scale infinite 3s linear ease-in-out;
}

@keyframes scale {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}