html{
  scroll-behavior: smooth;
  
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:20px;
  background-color: black;

}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 20px;
  
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}


body::-webkit-scrollbar {
  -webkit-appearance: none;
}

.proyects::-webkit-scrollbar {
  -webkit-appearance: none;
}

.proyects::-webkit-scrollbar:vertical {
  width:5px;
}

.proyects::-webkit-scrollbar-button:increment,.proyects::-webkit-scrollbar-button {
  display: none;
} 

.proyects::-webkit-scrollbar:horizontal {
  height: 10px;
}

.proyects::-webkit-scrollbar-thumb {
  background-color: #1bebdd;
  border-radius: 20px;
  border: none;
}

.proyects::-webkit-scrollbar-track {
  border-radius: 10px;  
}

#name{
  transition-duration: .5s;
}
.list_menu{
  transition-duration: .5s;
}
.footer_links{
  transition-duration: .5s;
}


#photo_personal{
  box-shadow: 0px 0px 35px red;
}

#box_blue{
  box-shadow: 0px 0px 45px #0C08B1;
}

#downloadCv{
  animation: pulse infinite 6s  linear ;
}
@keyframes pulse {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.img_Proyects{
  animation: scale infinite 3s linear ease-in-out;
}

@keyframes scale {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.underline,
.underline2{
  border: none;
  height: 1px;
  max-width: 0;
  background-color: #FF2B51;
  padding: 0;
}

.btn_ref:hover ~  .underline{
  max-width: 95px;
  transition: all .5s ease-in-out;
}
.btn_ref2:hover ~  .underline2{
  max-width: 170px;
  transition: all .5s ease-in-out;
}

@media (min-width:400px ) {
  .btn_ref:hover ~  .underline{
    max-width: 120px;
    transition: all .5s ease-in-out;
  }
  .btn_ref2:hover ~  .underline2{
    max-width: 211px;
    transition: all .5s ease-in-out;
  }
}

@media (min-width:800px ) {
  .btn_ref:hover ~  .underline{
    max-width: 178px;
    transition: all .5s ease-in-out;
  }
  .btn_ref2:hover ~  .underline2{
    max-width: 316px;
    transition: all .5s ease-in-out;
  }
}